<launch>
    <!-- load parameters -->
    <rosparam command="load" file="$(find xavier)/param/simu_qbot.yaml"/>

    <!-- Start RTABMap localization -->
    <include file="$(find xavier_slam)/launch/single_qbot_slam.launch" />

    <!-- Start Explore node -->
    <node pkg="xavier_explore" type="xavier_explore_node" name="explore" output="screen" launch-prefix="valgrind --leak-check=full --show-leak-kinds=all">
        <remap from="octomap" to="/octomap_full" />
        <remap from="position" to="/corrected_odom" />
    </node>

    <!-- Start Control node -->
    <node pkg="xavier_control" type="xavier_control_qbot_node" name="control" output="screen">
        <remap from="motor_power" to="/mobile_base/commands/motor_power"/>
		<remap from="cmd_vel" to="/mobile_base/commands/velocity"/>
		<remap from="position" to="/corrected_odom" />
		<remap from="bumper" to="/mobile_base/events/bumper" />
    </node>

    <!-- Start Position Tracker node -->
    <node pkg="xavier_control" type="xavier_control_position_node" name="tracker" output="screen">
        <remap from="positionIn" to="/odom" />
        <remap from="positionOut" to="/corrected_odom" />
    </node>

    <!-- Start Planner node -->
    <node pkg="xavier_planner" type="xavier_planner_node" name="planner" output="screen">
        <remap from="octomap" to="/octomap_full" />
        <remap from="position" to="/corrected_odom" />
    </node>

    <!-- Evaluator node -->
    <node pkg="xavier_evaluator" type="xavier_evaluator_performance_node" name="clientEvaluator" output="screen">
        <remap from="odometry" to="odom" />
        <remap from="imu" to="mobile_base/sensors/imu_data" />
    </node>

    <node pkg="xavier_evaluator" type="xavier_evaluator_exploration_node" name="client2Evaluator" output="screen">
        <remap from="octomap" to="/octomap_full" />
    </node>
</launch>

<!-- for debugging errors use launch-prefix="gdb -ex run -args" -->
<!-- for debugging memory leaks use launch-prefix="valgrind" -->